a.out
m4r-backup.tex
tex/*
M4R.code-workspace
MSciAdvancedResearchProjectGuidelines2020-21.pdf
Projects 2021.pdf
thoughts.txt
test.cpp
stuff.ods
H11-11.ods
H99-analysis-2.ods
H99-analysis.ods
squarefree/H3k-squarefree-proof.ods
prelim/*
perms/a.out
invariants/invariant-analysis.ods
perms/example.txt
